* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img, video {
  display: block;
}

header img {
  max-height: 67px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fff;
  color: #000;
  height: 52px;
  width: 108px;
}

.card img {
  max-height: 172px;
  max-width: 172px;
  border-radius: 50%;
}

.card a {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 14px;
}

.card_1 {
  grid-column: 1;
}

.card_1 img:hover {
  content: url(../img/pp_1_b.png);
}

.card_2 {
  grid-column: 3;
}

.card_2 img:hover {
  content: url(../img/pp_2_b.png);
}

.card_3 {
  grid-column: 5;
}

.card_3 img:hover {
  content: url(../img/pp_3_b.png);
}

.card_4 {
  grid-column: 2;
  grid-row: 2;
}

.card_4 img:hover {
  content: url(../img/pp_4_b.png);
}

.card_5 {
  grid-column: 4;
  grid-row: 2;
}

.card_5 img:hover {
  content: url(../img/pp_5_b.png);
}

.divider {
  grid-column: 2 / 6;
  max-height: 3px;
  background: #fff;
  margin-top: 28px;
}

footer h3 {
  margin-bottom: 22px;
}

.row_top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 22px;
}

.row_bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
}

span {
  font-size: 22px;
  font-weight: 700;
}

h4 {
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 28px;
}

main {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 28px;
  margin: -42px 182px;
}

footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 56px);
  height: 148px;
  margin: 28px;
}

body {
  background-image: url(../img/bg_1.png);
  background-size: 130%;
  color: #fff;
  font-family: "century-gothic";
  text-transform: lowercase;
}

@media (max-width: 1300px) {
	h2 {
		font-size: 28px;
	}

  h3, span {
		font-size: 20px;
	}
}

@media (max-width: 1100px) {
	main {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin: 80px 160px;
  }

  footer {
    position: relative;
  }
}

@media (max-width: 850px) {
  .row_bottom {
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}