* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

header img {
  max-height: 67px;
}

.contact {
  background: #fff;
  color: #000;
  max-height: 52px;
  max-width: 108px;
  padding: 13px;
}

.divider {
  grid-column: 2 / 6;
  max-height: 3px;
  background: #fff;
  margin-top: 28px;
}

footer h2 {
  margin-bottom: 21.74px;
}

.row_top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.row_bottom {
  display: flex;
  justify-content: space-between;
}

h1 {
  font-size: 39.39px;
}

h2 {
  font-size: 21.74px;
}

h3 {
  font-size: 12px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 28px;
}

footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 56px);
  margin: 28px;
}

body {
  background-image: url(../img/bg_1.png);
  background-size: 130%;
  color: #fff;
  font-family: "century-gothic";
  text-transform: lowercase;
}