* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

header img {
  max-height: 67px;
}

.contact {
  align-content: center;
  background: #000;
  color: #fff;
  height: 52px;
  width: 108px;
  padding: 11px; /* =solution intermédiaire -> !responsive! */
}

.main_pp {
  max-height: 344px;
  max-width: 344px;
  border-radius: 50%;
  grid-column: 3 / 4;
  margin: auto;
}

.main_txt {
  grid-column: 4 / 10;
}

.player {
  max-width: 108px;
  grid-column: 12 / 12;
  margin: auto;
}

.divider {
  grid-column: 2 / 6;
  max-height: 3px;
  background: #000;
  margin-top: 28px;
}

footer h3 {
  margin-bottom: 22px;
}

.row_top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 22px;
}

.row_bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 15px; /* =solution intermédiaire -> !responsive! */
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 28px;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 28px;
  margin: 42px 28px;
}

footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 56px);
  height: 148px;
  margin: 28px;
}

body {
  background-image: url(../img/bg_2.png);
  background-size: 130%;
  color: #000;
  font-family: "century-gothic";
  text-transform: lowercase;
}

p {
  font-size: 22px;
  margin-top: 22px;
  text-transform: none;
}