* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img, video {
  display: block;
}

header img {
  max-height: 67px;
}

.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #000;
  color: #fff;
  height: 52px;
  width: 108px;
}

.main_pp {
  max-height: 344px;
  max-width: 344px;
  border-radius: 50%;
  grid-column: 3 / 4;
  margin: auto;
}

.main_pp:hover {
  content: url(../img/hero_b.png);
}

.main_txt {
  grid-column: 4 / 10;
}

.player {
  max-width: 108px;
  grid-column: 12 / 12;
  margin: auto;
  cursor: pointer;
}

.player:hover {
  content: url(../img/player_b.png);
}

.divider {
  grid-column: 2 / 6;
  max-height: 3px;
  background: #000;
  margin-top: 28px;
}

footer h3 {
  margin-bottom: 22px;
}

.row_top {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 22px;
}

.row_bottom {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

h1 {
  font-size: 56px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 22px;
}

span {
  font-size: 22px;
  font-weight: 700;
}

h4 {
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 28px;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 28px;
  margin: 42px 28px;
}

footer {
  position: fixed;
  bottom: 0;
  width: calc(100% - 56px);
  height: 148px;
  margin: 28px;
}

body {
  background-image: url(../img/bg_2.png);
  background-size: 130%;
  color: #000;
  font-family: "century-gothic";
  text-transform: lowercase;
}

p {
  font-size: 22px;
  margin-top: 22px;
  text-transform: none;
}

@media (max-width: 1300px) {
	h1 {
    font-size: 40px;
  }
  
  h2 {
		font-size: 28px;
	}

  h3, span, p {
		font-size: 20px;
	}

  span {
		font-size: 20px;
	}
}

@media (max-width: 1210px) {
	main {
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin: 80px 60px;
  }

  .main_txt {
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
  }

  footer {
    position: relative;
  }
}

@media (max-width: 850px) {
  .row_bottom {
    display: flex;
    flex-direction: column;
    gap: 56px;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}